

/*
<li><span class="raceFilter" id="formulaone"><div class="raceFilterBox"></div> TT Formula One</span></li>
<li><span class="raceFilter" id="junior"><div class="raceFilterBox"></div> TT Junior</span></li>
<li><span class="raceFilter" id="lightweight"><div class="raceFilterBox"></div> TT Lightweight</span></li>
<li><span class="raceFilter" id="production"><div class="raceFilterBox"></div> TT International Production 1000</span></li>
<li><span class="raceFilter" id="senior"><div class="raceFilterBox"></div> Senior TT</span></li>
<li><span class="raceFilter" id="sidecara"><div class="raceFilterBox"></div> TT Sidecar Race A</span></li>
<li><span class="raceFilter" id="sidecarb"><div class="raceFilterBox"></div> TT Sidecar Race B</span></li>
<li><span class="raceFilter" id="singles"><div class="raceFilterBox"></div> TT Singles</span></li>
<li><span class="raceFilter" id="superbike"><div class="raceFilterBox"></div> TT Superbike</span></li>
<li><span class="raceFilter" id="supersporta"><div class="raceFilterBox"></div> TT Supersport Race A</span></li>
<li><span class="raceFilter" id="supersportb"><div class="raceFilterBox"></div> TT Supersport Race B</span></li>
<li><span class="raceFilter" id="superstock"><div class="raceFilterBox"></div> TT Superstock</span></li>
<li><span class="raceFilter" id="ultralightweight"><div class="raceFilterBox"></div> TT Ultra Lightweight 125</span></li>
<li><span class="raceFilter" id="zero"><div class="raceFilterBox"></div> TTXGP</span></li>
*/

.raceFilterBox {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    float: left;
    clear: both;
}

#viz {
    border: 1px solid black;
    background-color: white;
    min-width: 1050px;
    min-height: 750px;
    width: 1100px;
    height: 950px;
    margin: 5px;
    padding: 3px;
    float: left;
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
}


#viz svg {
    /*background-color: purple;*/
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
}

aside {
    border: 1px solid black;
    background: yellow;
    background: #ffffff;
    background-color: #d3d3d3;
    background-color: #E2E2E2;
    margin: 5px;
    padding: 3px;
    width: 425px;
    float: left;
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
}

    #viz-filters {
        min-height: 175px;
        height: 200px;
    }

    #riderInfo {
        margin-top: 0;
        min-height: 450px;
        height: 550px;
        padding: 5px;
        overflow-y: scroll;
        overflow: -moz-scrollbars-vertical;
    }

    img.floatleft {
        border: 1px solid black;
        float: left;
        margin: 0 5px 5px 0;
    }

    #viz-info {
        border: 1px solid black;
        background: pink;
        min-width: 1100px;
        min-height: 200px;
        width: 1200px;
        height: 250px;
        margin: 5px;
        padding: 3px;
        float: left;
        clear: both;
        border-radius: 0.9em;
        -moz-border-radius: 0.9em;
        -webkit-border-radius: 0.9em;
    }

hr {
    padding-top: 3px;
    padding-bottom: 3px;
    clear: both;
}
.ttCareerSummary,
.ttCareerSummary tr,
.ttCareerSummary th,
.ttCareerSummary td {
    border-collapse:collapse;
    margin-top: 5px;
    border: 1px solid black;
    padding: 5px;
}

.riderPics {
    margin: 3px;
    border: 1px solid black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    /*
    stroke-width: 5.5px;
    stroke-width: 1.0px;
    */
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}

.x.axis path {
    /* show the x-axis */
    /*display: none;*/
}

.x.axis path,
.y.axis path {
    /* show the x-axis */
    /*display: none;*/
    stroke: black;
    stroke-width: 1.5px;
}

.y {

    color: red;
}

/* this just makes all the tick marks bolder */
/*
.axis{
    stroke: black;
    stroke-width: 1.5px;
}
*/


.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.race-line {
    fill: none;
    stroke-width: 0.5px;
    stroke-width: 0.75px;
    stroke-width: 1.0px;
    opacity: 0.50;
}

.race-line-selected {
    fill: none;
    stroke-width: 3.5px;
}

.colorSelected { stroke: black; }

/* see http://www.w3.org/TR/SVG/types.html#ColorKeywords for more color names */

.color-unselected { stroke: #ccc; }


.color1, .formulaone  { stroke: blue; }
.color2, .junior      { stroke: blueviolet; }
.color3, .lightweight { stroke: brown; }
/*.color4 { stroke: burlywood; }*/
.color4, .production  { stroke: brown; }
.color5, .senior { stroke: cadetblue; }
.color6, .sidecara { stroke: chartreuse; }
.color7, .sidecarb { stroke: chocolate; }
.color8, .singles { stroke: orange; }
.color9, .superbike { stroke: orangered; }
.color10, .supersporta { stroke: olive; }
.color11, .supersportb { stroke: lawngreen; }
/*.color12 { stroke: lightblue; }*/
.color12, .superstock { stroke: darkblue; }
.color13, .ultralightweight { stroke: gray; }
.color14, .zero { stroke: indigo; }


.race-line-tooltip {
    font-size: 9pt;
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
    background: #ccc;
    width: 245px;
    height: 40px;
    margin: 5px;
    overflow: hidden;
    position: absolute;
    opacity : 0.65;
}

.race-line-tooltip ul {
    list-style-type: none;
    margin-left: 3px;
    padding: 5px;
}


.rider-detail-graphs {
    /*background-color: green;*/
}

