
div#raceClassFilter ul {
    margin-top: 10px;
    list-style: none;
    width: 400px;
    overflow:hidden;
    /*
    border-top:1px solid #ccc;
    border: 2px solid black;
    */
}
    div#raceClassFilter ul li {
        width: 50%;
        float:left;
        display:inline;
        margin-bottom: 5px;
    }

    div#raceClassFilter ul li:hover {
        cursor: pointer;
        font-weight: bold;
    }

.raceFilterBox {
    border: 1px solid black;
    width: 15px;
    height: 15px;
    margin-right: 3px;
    width: 10px;
    height: 10px;
    float: left;
    clear: both;
}

#viz {
    border: 1px solid black;
    background-color: white;
    min-width: 1050px;
    min-height: 750px;
    width: 1100px;
    height: 950px;
    margin: 5px;
    padding: 3px;
    float: left;
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
}


#viz svg {
    float: left;
    margin: 0;
    padding: 0;
}

#viz svg:last-child {
    /*background-color: green;*/
}


aside {
    border: 1px solid black;
    background-color: #E2E2E2;
    margin: 5px;
    padding: 3px;
    width: 425px;
    float: left;
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
}

    #viz-filters {
        /*min-height: 175px;*/
        /*height: 200px;*/
        padding: 10px;
    }

    #riderInfo {
        margin-top: 0;
        min-height: 650px;
        height: 750px;
        padding: 10px;
        overflow-y: scroll;
        overflow: -moz-scrollbars-vertical;
    }

    img.floatleft {
        border: 1px solid black;
        float: left;
        margin: 0 5px 5px 0;
    }

    #viz-info {
        border: 1px solid black;
        background: #ccc;
        min-width: 1100px;
        min-height: 200px;
        width: 98%;
        margin: 5px;
        padding: 10px;
        float: left;
        clear: both;
        border-radius: 0.9em;
        -moz-border-radius: 0.9em;
        -webkit-border-radius: 0.9em;
    }

hr {
    padding-top: 3px;
    padding-bottom: 3px;
    clear: both;
}
.ttCareerSummary,
.ttCareerSummary tr,
.ttCareerSummary th,
.ttCareerSummary td {
    border-collapse:collapse;
    margin-top: 5px;
    border: 1px solid black;
    padding: 5px;
}

.riderPics {
    margin: 3px;
    border: 1px solid black;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
    shape-rendering: crispEdges;
}

.x.axis path {
    /* show the x-axis */
    /*display: none;*/
}

.x.axis path,
.y.axis path {
    /* show the x-axis */
    /*display: none;*/
    stroke: black;
    stroke-width: 1.5px;
}

.y {
    color: red;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.speed-line {
    fill: none;
    stroke-width: 5.0px;
    color: orange;
}

.race-line {
    fill: none;
    stroke-width: 0.5px;
    stroke-width: 0.75px;
    stroke-width: 1.0px;
    opacity: 0.50;
}

.race-line-selected {
    fill: none;
    stroke-width: 3.5px;
}

.colorSelected { stroke: black; }

/* see http://www.w3.org/TR/SVG/types.html#ColorKeywords for more color names */

.color-unselected { stroke: #ccc; }


.color1, .formulaone  { stroke: blue; background-color: blue; }
.color2, .junior      { stroke: blueviolet; background-color: blueviolet; }
.color3, .lightweight { stroke: brown; background-color: brown; }
/*.color4 { stroke: burlywood; background-color: burlywood; }*/
.color4, .production  { stroke: brown; background-color: brown; }
.color5, .senior { stroke: cadetblue; background-color: cadetblue; }
.color6, .sidecara { stroke: chartreuse; background-color: chartreuse; }
.color7, .sidecarb { stroke: chocolate; background-color: chocolate; }
.color8, .singles { stroke: orange; background-color: orange; }
.color9, .superbike { stroke: orangered; background-color: orangered; }
.color10, .supersporta { stroke: olive; background-color: olive; }
.color11, .supersportb { stroke: lawngreen; background-color: lawngreen; }
/*.color12 { stroke: lightblue; background-color: lightblue; }*/
.color12, .superstock { stroke: darkblue; background-color: darkblue; }
.color13, .ultralightweight { stroke: gray; background-color: gray; }
.color14, .zero { stroke: indigo; background-color: indigo; }


.race-line-tooltip {
    font-size: 9pt;
    border-radius: 0.9em;
    -moz-border-radius: 0.9em;
    -webkit-border-radius: 0.9em;
    background: #ccc;
    width: 245px;
    height: 40px;
    margin: 5px;
    overflow: hidden;
    position: absolute;
    opacity : 0.65;
}

.race-line-tooltip ul {
    list-style-type: none;
    margin-left: 3px;
    padding: 5px;
}

.speed-circle {
    color: red;
    fill: red;
    opacity : 0.65;
}
.speed-circle-text {
    color: black;
    font-size: 7pt;
}

.rider-detail-graphs {
    /*background-color: green;*/
}

